.Branch {
	width: 200px;
	height: 200px;
	border-radius: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 10px;
padding: 5px;

if(explicit==true){
	background-color: red
}
	else{
		background-color:white
}

p {
	margin: 0;
}
