ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	background: none;
	justify-content: center;
	padding: 40px;
}

li {
	display: flex;
	justify-content: center;
}
